{% extends 'base.html.twig' %}
{% block body %}

    <div class="container row" style="width: 50%;">
        {% for service in services %}
        <div class="card col-sm mr-3" style="width: 18rem;height: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{service.getNom()}}</h5>
                <p class="card-text">{{service.getDescription()}}</p>
            </div>
            <div class="card-footer text-muted">
                <form method="GET" action="/contact">
                <input hidden name='flag' value='2'></input>
                <input hidden name='serviceID' value={{service.getId()}}></input>
                <input type="submit" value="Plus d'info" class="btn-sm btn-primary"></input>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}